body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.main-nav {
    background-color: #333;
    width: 100%;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    justify-content: space-evenly;
    height: 60px;
    left: 0;
}

.menu li {
    position: relative;
}

.menu li a {
    color: white;
    font-size: small;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: flex;
    padding-top: 2vh;
}

.megamenu {
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateX(-58.5vw);
    width: 100vw;
    padding: 20px;
    box-shadow: 0 15px 25px lightgray;
    display: none;
}

.sluzby:hover .megamenu {
    display: block;
}

.megamenu-options {
    width: 100vw;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.megamenu-row {
    min-width: 160px;
    margin-bottom: 25px;
    flex: 0 0 13vw;
    padding: 15px;
    text-align: center;
}

.megamenu-row h3 {
    margin: 0 0 12px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-weight: 700;
}

.options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.options li a {
    display: block;
    padding: 5px 0;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.options li a:hover {
    text-decoration: underline;
}